/target

# RMC output files
checkpoint.dat
refined.xyz
refined_sq.dat
refined_total_gr.dat
computed_sq.dat
computed_gr.dat
computed_total_gr.dat
results_comparison.png
analysis_*_cn.dat
analysis_*_angles.dat
